html{
  height: 100%;
box-sizing: border-box;
scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.container{
max-width: 1400px;
margin:0 auto;
padding: 0% 20px;
}
img{
  vertical-align: middle;
  height: auto;
  max-width:100%;
}
.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v19-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v19-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v19-latin-600.woff2') format('woff2'),
       url('../fonts/poppins-v19-latin-600.woff') format('woff');
}